@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --green-bg-color: #006c34;
  --green-dark-color: #004d26;
  --white-color: #ffffff;
  --red-color: #cd212a;
  --black-color: #101828;
  --green-text-color: #20b486;
  --green-text-hover: #27a87f;
  --gray-text-color: #667085;
  --gray-bg-color: #f9fafb;
}
* {
  font-family: "inter", sans-serif;
}
