@import "tailwindcss";

:root {
  --green-bg-color: #006c34;
  --white-color: #ffffff;
  --red-color: #cd212a;
  --black-color: #101828;
  --green-text-color: #20b486;
  --green-text-hover: #27a87f;
}
